div.smsBlastHeader {
    background-color: #474747;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 20px;
    color: #fff;
}
div.smsBlastHeader .icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.smsBlastHeader .icon-container p {
    margin: 0 10px;
}

div.smsBlastHeader .icon-container i {
    font-size: 30px;
}
div.smsBlastHeader .icon-title {
    margin: 0px;
}

div.title-display{
    display: flex;
    justify-content: space-between;
}

div.title-display .logout-container {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    align-items: flex-start;
    width: 300px;
    justify-content: space-between;
}
div.title-display .logout-container span:last-child {    
    cursor: pointer;
}

div.title-display .logout-container i {
    font-size: 20px;
    margin-right: 5px;
}


article {
    position: fixed;
    /* z-index: 99999; */
    top: 120px;
    display: flex;
    width: 100%;
}

article section.left-nav div {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
}



/* navigation */
section.left-nav {
    background-color: #474747;
    height: 100vh;
    width: 200px;
}

section.left-nav span i {
    margin-right: 10px;
    font-size: 20px;
}

section.left-nav #hdrtabs {
    padding-top: 30px;    
    padding-left: 10px;
}


section.right-nav {
    width: inherit;
}


section.right-nav div#reportgroup,
section.right-nav div#usercontainer,
section.right-nav div#groupmsg,
section.right-nav div#pbcontainer {
    height: calc(100vh - 190px);
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}



/* system configuration */
div#sysconfig {
    display: none;
}
div#sysconfig .cont {
    display: flex;
}
div#sysconfig .ipadd {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 30px;
}
div#sysconfig .ipadd p {
    margin: 0;
    width: 150px;
}
div#sysconfig .model-table p{
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 30px;
}
div#sysconfig .model-table .table-inside {
    height: calc(100vh - 260px);
    overflow-y: scroll;
}


/* new modem */
div#newmodem {
    height: calc(100vh - 190px);
    overflow-y: scroll;
}

div#newmodem span#labelform {
    position: relative;
}